In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error

from sklearn.model_selection import train_test_split

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.metrics import accuracy_score, confusion_matrix

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [2]:
df=pd.read_csv("profiles.csv")

## EDA

In [3]:
df[:9515]

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22.0,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35.0,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38.0,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23.0,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29.0,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9510,31.0,athletic,mostly anything,socially,sometimes,NaN,i work in the beauty salon as a hairstylist fo...,making your hair look beautiful.,i'm a hairstylist and love making hair look be...,i am different.,...,"san francisco, california",NaN,gay,NaN,atheism,m,scorpio but it doesn&rsquo;t matter,sometimes,english,single
9511,34.0,average,NaN,socially,NaN,dropped out of college/university,"33 year old, hiv +,versatile gwm, bearish type...",i've just recently moved to beautiful san fran...,"buying ""crap"" at random places and then sellin...",i usually go unnoticed.......,...,"san francisco, california",doesn&rsquo;t want kids,gay,likes dogs and has cats,atheism and laughing about it,m,leo and it&rsquo;s fun to think about,when drinking,english (fluently),single
9512,29.0,athletic,anything,rarely,never,two-year college,NaN,NaN,NaN,NaN,...,"san francisco, california","doesn&rsquo;t have kids, and doesn&rsquo;t wan...",gay,likes dogs and has cats,NaN,m,aries,no,"english (fluently), french (okay), swedish (po...",single
9513,49.0,overweight,NaN,rarely,never,graduated from college/university,NaN,NaN,NaN,NaN,...,"castro valley, california",NaN,straight,likes dogs and likes cats,NaN,f,pisces and it&rsquo;s fun to think about,no,english,single
9514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum() #We examine the empty lines.

age            51038
body_type      51886
diet           54791
drinks         51540
drugs          53337
education      52093
essay0         51885
essay1         52205
essay2         52503
essay3         52862
essay4         52673
essay5         52738
essay6         53200
essay7         52999
essay8         54191
essay9         52998
ethnicity      51987
height         51038
income         51038
job            52369
last_online    51038
location       51038
offspring      56666
orientation    51038
pets           54200
religion       54291
sex            51038
sign           52776
smokes         51956
speaks         51044
status         51038
dtype: int64

In [5]:
df=df[:9514]

In [6]:
df

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22.0,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35.0,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38.0,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23.0,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29.0,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9509,28.0,athletic,strictly anything,socially,never,working on med school,just a normal guy looking for someone around m...,working hard and studying. things are always f...,"i'm excellent with oncology, numbers and algor...",my eyes change color.<br />\n<br />\ni smirk a...,...,"san francisco, california","doesn&rsquo;t have kids, but wants them",straight,likes dogs and likes cats,christianity,m,aries and it&rsquo;s fun to think about,no,"english, spanish (okay)",single
9510,31.0,athletic,mostly anything,socially,sometimes,NaN,i work in the beauty salon as a hairstylist fo...,making your hair look beautiful.,i'm a hairstylist and love making hair look be...,i am different.,...,"san francisco, california",NaN,gay,NaN,atheism,m,scorpio but it doesn&rsquo;t matter,sometimes,english,single
9511,34.0,average,NaN,socially,NaN,dropped out of college/university,"33 year old, hiv +,versatile gwm, bearish type...",i've just recently moved to beautiful san fran...,"buying ""crap"" at random places and then sellin...",i usually go unnoticed.......,...,"san francisco, california",doesn&rsquo;t want kids,gay,likes dogs and has cats,atheism and laughing about it,m,leo and it&rsquo;s fun to think about,when drinking,english (fluently),single
9512,29.0,athletic,anything,rarely,never,two-year college,NaN,NaN,NaN,NaN,...,"san francisco, california","doesn&rsquo;t have kids, and doesn&rsquo;t wan...",gay,likes dogs and has cats,NaN,m,aries,no,"english (fluently), french (okay), swedish (po...",single
9513,49.0,overweight,NaN,rarely,never,graduated from college/university,NaN,NaN,NaN,NaN,...,"castro valley, california",NaN,straight,likes dogs and likes cats,NaN,f,pisces and it&rsquo;s fun to think about,no,english,single

In [7]:
df.isnull().sum()

age               0
body_type       848
diet           3753
drinks          502
drugs          2299
education      1055
essay0          847
essay1         1167
essay2         1465
essay3         1824
essay4         1635
essay5         1700
essay6         2162
essay7         1961
essay8         3153
essay9         1960
ethnicity       949
height            0
income            0
job            1331
last_online       0
location          0
offspring      5628
orientation       0
pets           3162
religion       3253
sex               0
sign           1738
smokes          918
speaks            6
status            0
dtype: int64

## Feature Engineering

In [8]:
df=df.drop(["essay0","essay1","essay2","essay3","essay4","essay5","essay6","essay7","essay8","essay9"],axis=1)
#We are deleting some columns.

In [9]:
df["body_type"]=df["body_type"].map({"average":"fit","fit":"fit",
              "athletic":"fit",
              "thin":"fit",
              "curvy":"curvy",
              "a little extra":"curvy",
              "skinny":"fit",
              "full figured":"curvy",
              "overweight":"bad",
              "jacked":"bad",
              "used up":"bad",
              "rather not say":"curvy"
             })

In [10]:
status={"mostly":"","strictly":""}
df["diet"].replace(status,regex=True,inplace=True)
df["diet"]=df["diet"].str.strip()

In [11]:
df["education"].replace({"working on":"student","graduated from":"graduated","dropped out":"dropped"},regex=True)
df["education"]=df["education"].str.split().str[0]
df["education"].replace({"college/university":"student","two-year":"student","masters":"student","working":"student","space":"student","ph.d":"graduated","law":"graduated","high":"graduated"},regex=True,inplace=True)

In [12]:
df.drop(["ethnicity","job"],axis=1,inplace=True)

In [13]:
df["last_online_year"]=2021-(df['last_online'].str[:4]).astype(int)
df["last_online_month"]=(df['last_online'].str[5:7]).astype(int)
df.drop('last_online',axis=1)

,age,body_type,diet,drinks,drugs,education,height,income,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status,last_online_year,last_online_month
0,22.0,curvy,anything,socially,never,student,75.0,-1.0,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single,9,6
1,35.0,fit,other,often,sometimes,student,70.0,80000.0,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single,9,6
2,38.0,fit,anything,socially,NaN,graduated,68.0,-1.0,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available,9,6
3,23.0,fit,vegetarian,socially,NaN,student,71.0,20000.0,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single,9,6
4,29.0,fit,NaN,socially,never,graduated,66.0,-1.0,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single,9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9509,28.0,fit,anything,socially,never,student,73.0,60000.0,"san francisco, california","doesn&rsquo;t have kids, but wants them",straight,likes dogs and likes cats,christianity,m,aries and it&rsquo;s fun to think about,no,"english, spanish (okay)",single,9,6
9510,31.0,fit,anything,socially,sometimes,NaN,72.0,-1.0,"san francisco, california",NaN,gay,NaN,atheism,m,scorpio but it doesn&rsquo;t matter,sometimes,english,single,9,4
9511,34.0,fit,NaN,socially,NaN,dropped,71.0,-1.0,"san francisco, california",doesn&rsquo;t want kids,gay,likes dogs and has cats,atheism and laughing about it,m,leo and it&rsquo;s fun to think about,when drinking,english (fluently),single,9,4
9512,29.0,fit,anything,rarely,never,student,70.0,-1.0,"san francisco, california","doesn&rsquo;t have kids, and doesn&rsquo;t wan...",gay,likes dogs and has cats,NaN,m,aries,no,"english (fluently), french (okay), swedish (po...",single,9,3
9513,49.0,bad,NaN,rarely,never,graduated,64.0,-1.0,"castro valley, california",NaN,straight,likes dogs and likes cats,NaN,f,pisces and it&rsquo;s fun to think about,no,english,single,9,6

In [14]:
df.location=df.location.str.split(",").str[0]

In [15]:
offsprings=[]
for i in df.offspring.fillna("null").str.replace("[^\w\s]",""):
    if "doesnrsquot" in i:
        offsprings.append("0")
    elif "null" in i:
        offsprings.append("0")
    else:
        offsprings.append("1")
        
df["offspring"]=offsprings
df["offspring"]=df["offspring"].astype(int)

In [16]:
df["religion"]=df["religion"].str.split().str[0]

In [17]:
df["sign"]=df["sign"].str.split().str[0]

In [18]:
df["number_of_fluent_languages"]=df.speaks.str.count("fluently")
df["number_of_fluent_languages"].replace(0,1,regex=True,inplace=True)
df["number_of_poorly_languages"]=df.speaks.str.count("poorly")
df.drop("speaks",axis=1,inplace=True)

In [19]:
for column in df.select_dtypes(include=np.number):
    df[column].fillna(df[column].median(),inplace=True)
#We fill all number values with average values.

In [20]:
for column in df.select_dtypes(include=np.object):
    df[column].fillna(df[column].mode()[0],inplace=True)
#We fill all text values with the most repeated values.

In [21]:
df.isnull().sum()

age                           0
body_type                     0
diet                          0
drinks                        0
drugs                         0
education                     0
height                        0
income                        0
last_online                   0
location                      0
offspring                     0
orientation                   0
pets                          0
religion                      0
sex                           0
sign                          0
smokes                        0
status                        0
last_online_year              0
last_online_month             0
number_of_fluent_languages    0
number_of_poorly_languages    0
dtype: int64

In [22]:
df["generation"]=df["age"]

In [41]:
df["generation"]

0       0.0
1       1.0
2       1.0
3       0.0
4       0.0
       ...
9509    0.0
9510    0.0
9511    1.0
9512    0.0
9513    2.0
Name: generation, Length: 9514, dtype: float64

In [23]:
for i in range(len(df["generation"])):
    if df["generation"][i]<33:
        df["generation"][i]=0
    elif df["generation"][i]<48:
        df["generation"][i]=1
    else:
        df["generation"][i]=2
df.generation.value_counts()

0.0    6047
1.0    2721
2.0     746
Name: generation, dtype: int64

In [24]:
abs(df.corr()['age']).sort_values(ascending=False)

age                           1.000000
generation                    0.904987
offspring                     0.341753
number_of_fluent_languages    0.024795
height                        0.022078
last_online_year              0.015792
income                        0.011424
last_online_month             0.003527
number_of_poorly_languages    0.001559
Name: age, dtype: float64

## Regression

In [25]:
x,y=df.drop(["age"],axis=1),df[["age"]]
x=pd.get_dummies(x,drop_first=True)

In [26]:
x=scaler.fit_transform(x)

In [27]:
pd.DataFrame(x).head()

,0,1,2,3,4,5,6,7,8,9,...,6907,6908,6909,6910,6911,6912,6913,6914,6915,6916
0,0.661017,0.000000,0.0,0.0,0.454545,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.576271,0.080001,0.0,0.0,0.454545,0.0,0.4,0.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.542373,0.000000,0.0,0.0,0.454545,0.0,0.0,0.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.593220,0.020001,0.0,0.0,0.454545,0.0,0.2,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.508475,0.000000,0.0,0.0,0.454545,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [29]:
model=Sequential()
model.add(Dense(800, activation='relu'))
model.add(Dense(800, activation='relu'))
model.add(Dense(800, activation='relu'))
model.add(Dense(800, activation='relu'))
model.add(Dense(800, activation='relu'))
model.add(Dense(800, activation='relu'))
model.add(Dense(1))
model.compile(optimizer="adam",loss="mse")

In [30]:
model.fit(x_train,y_train,validation_data=(x_test,y_test),batch_size=128,epochs=100,verbose=1)
model.summary()

Epoch 1/100
60/60 [==============================] - 5s 68ms/step - loss: 119.4438 - val_loss: 18.5920
Epoch 2/100
60/60 [==============================] - 4s 65ms/step - loss: 13.4811 - val_loss: 17.3504
Epoch 3/100
60/60 [==============================] - 4s 64ms/step - loss: 6.5603 - val_loss: 18.5819
Epoch 4/100
60/60 [==============================] - 4s 65ms/step - loss: 4.2611 - val_loss: 18.1677
Epoch 5/100
41/60 [===================>..........] - ETA: 1s - loss: 3.2914

KeyboardInterrupt

In [ ]:
tahmin=model.predict(x_test)

In [ ]:
r2_score(tahmin,y_test)

In [ ]:
(mean_squared_error(tahmin,y_test))**0.5

## Classification

In [42]:
a,b=df.drop(["generation"],axis=1),df[["generation"]]
a=pd.get_dummies(a,drop_first=True)

In [45]:
a

,age,height,income,offspring,last_online_year,last_online_month,number_of_fluent_languages,number_of_poorly_languages,body_type_curvy,body_type_fit,...,sign_scorpio,sign_taurus,sign_virgo,smokes_sometimes,smokes_trying to quit,smokes_when drinking,smokes_yes,status_married,status_seeing someone,status_single
0,22.0,75.0,-1.0,0,9,6,1.0,0.0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,35.0,70.0,80000.0,0,9,6,1.0,2.0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,38.0,68.0,-1.0,0,9,6,1.0,0.0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,23.0,71.0,20000.0,0,9,6,1.0,1.0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,29.0,66.0,-1.0,0,9,6,1.0,0.0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9509,28.0,73.0,60000.0,0,9,6,1.0,0.0,0,1,...,0,0,0,0,0,0,0,0,0,1
9510,31.0,72.0,-1.0,0,9,4,1.0,0.0,0,1,...,1,0,0,1,0,0,0,0,0,1
9511,34.0,71.0,-1.0,0,9,4,1.0,0.0,0,1,...,0,0,0,0,0,1,0,0,0,1
9512,29.0,70.0,-1.0,0,9,3,1.0,1.0,0,1,...,0,0,0,0,0,0,0,0,0,1
9513,49.0,64.0,-1.0,0,9,6,1.0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [32]:
a=scaler.fit_transform(a)

In [33]:
pd.DataFrame(a).head()

,0,1,2,3,4,5,6,7,8,9,...,6907,6908,6909,6910,6911,6912,6913,6914,6915,6916
0,0.043478,0.661017,0.000000,0.0,0.0,0.454545,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.184783,0.576271,0.080001,0.0,0.0,0.454545,0.0,0.4,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.217391,0.542373,0.000000,0.0,0.0,0.454545,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.054348,0.593220,0.020001,0.0,0.0,0.454545,0.0,0.2,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.119565,0.508475,0.000000,0.0,0.0,0.454545,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
x_train,x_test,y_train,y_test=train_test_split(a,b,test_size=0.20,random_state=42)

In [35]:
model=Sequential()
model.add(Dense(21,activation="relu"))
model.add(Dense(42,activation="relu"))
model.add(Dense(84,activation="relu"))
model.add(Dense(11,activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(loss="binary_crossentropy",optimizer="adam",metrics="accuracy")

In [36]:
model.fit(x_train,y_train,validation_data=(x_test,y_test),batch_size=10,epochs=10,verbose=1)
model.summary()

Epoch 1/10
762/762 [==============================] - 2s 2ms/step - loss: -6.8872 - accuracy: 0.7140 - val_loss: -61.9373 - val_accuracy: 0.7840
Epoch 2/10
762/762 [==============================] - 1s 2ms/step - loss: -1774.7312 - accuracy: 0.8042 - val_loss: -5391.1699 - val_accuracy: 0.6868
Epoch 3/10
762/762 [==============================] - 1s 2ms/step - loss: -26605.9434 - accuracy: 0.8351 - val_loss: -55132.0703 - val_accuracy: 0.7856
Epoch 4/10
762/762 [==============================] - 1s 2ms/step - loss: -141852.2812 - accuracy: 0.8459 - val_loss: -235482.4844 - val_accuracy: 0.8219
Epoch 5/10
762/762 [==============================] - 1s 2ms/step - loss: -469231.7812 - accuracy: 0.8463 - val_loss: -671963.4375 - val_accuracy: 0.8245
Epoch 6/10
762/762 [==============================] - 1s 2ms/step - loss: -1190080.2500 - accuracy: 0.8476 - val_loss: -1509528.0000 - val_accuracy: 0.8229
Epoch 7/10
762/762 [==============================] - 1s 2ms/step - loss: -2467272.5000 - accuracy: 0.8525 - val_loss: -2823976.5000 - val_accuracy: 0.7798
Epoch 8/10
762/762 [==============================] - 1s 2ms/step - loss: -4545303.5000 - accuracy: 0.8543 - val_loss: -5101593.0000 - val_accuracy: 0.8166
Epoch 9/10
762/762 [==============================] - 1s 2ms/step - loss: -7755820.5000 - accuracy: 0.8556 - val_loss: -8409059.0000 - val_accuracy: 0.8187
Epoch 10/10
762/762 [==============================] - 1s 2ms/step - loss: -12356390.0000 - accuracy: 0.8570 - val_loss: -12692310.0000 - val_accuracy: 0.7882
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 21)                145278

 dense_8 (Dense)             (None, 42)                924

 dense_9 (Dense)             (None, 84)                3612

 dense_10 (Dense)            (None, 11)                935

 dense_11 (Dense)            (None, 1)                 12

=================================================================
Total params: 150,761
Trainable params: 150,761
Non-trainable params: 0
_________________________________________________________________

In [37]:
tahmin=model.predict(x_test)

60/60 [==============================] - 0s 993us/step

In [47]:
tahmin

array([[1.],
       [0.],
       [1.],
       ...,
       [1.],
       [0.],
       [1.]], dtype=float32)

In [39]:
accuracy_score(y_test,model.predict(x_test))

60/60 [==============================] - 0s 937us/step

0.7882291119285338

In [40]:
confusion_matrix(model.predict(x_test),y_test)

60/60 [==============================] - 0s 879us/step

array([[973,   6,   0],
       [249, 527, 148],
       [  0,   0,   0]], dtype=int64)